
<ion-view view-title="Register" name="register-view" hide-nav-bar="true">
 <ion-content  style="background: ;" class="padding">
      <div class="item item-divider item-balanced text-center padding">
		Register
	  </div>
	   <style>
	  
	  .iconsetup  {
			height: 45px;
			width: 45px;
	  }
	  
	   .logosetup  {
			height: 100px;
			width: 100px;
	  }
	  
	   .pslogosetup  {
			height: 90px;
			width: 235px;
	  }
	  
		.iconsetup1  {
			height: 45px;
			width: 55px;
	  } 
	 </style>
<div class = "row" style="background-color:#ef473a">
	<div class = "col text-center">Register Here </div>
</div>
      
  <div class="item item-divider item-balanced text-center padding">
     
  </div>
      
      
    <form name="myForm" novalidate>
        <div ng-controller="LoginCtrl">
            <div class="list list-inset padding">
            <label class="item item-input">               
                <input type="text" placeholder="Enter your Name  " name="email" ng-model="data.email" ng-minlength="5" required>
            </label> <br>
            
			<label class="item item-input">               
                <input type="text" placeholder="Enter your Mobile Number  " name="email" ng-model="data.email" ng-minlength="5" required>
            </label> <br>
			<label class="item item-input">               
                <input type="text" placeholder="Enter your Email  " name="email" ng-model="data.email" ng-minlength="5" required>
            </label> <br>
			<label class="item item-input">               
                <input type="text" placeholder="Password" name="email" ng-model="data.email" ng-minlength="5" required>
            </label> <br>
			<label class="item item-input">               
                <input type="text" placeholder="Retype password  " name="email" ng-model="data.email" ng-minlength="5" required>
            </label> <br>
			
			<label class="item item-input " >
                <input name="password" ng-model="data.password" type="password" placeholder="password" required />
            </label><br>
			
                
			<div class="padding">
				<p> By signing up, you agree to our </p>
                <a class="button button-clear button-positive"  href="forgotPass.do" onclick="window.open(this.href, '_blank')">
                    Terms 
                </a>
            </div>	
            </div>
            
            
            <div class="padding">
                <button ng-click="login(data.email,data.password)"ng-disabled="myForm.$invalid"  class="button button-block button-balanced">
                    Sign up
                </button>
            </div>
			
			<div class="padding">
                <button class="button button-block button-energized" href="#/app/register">
                    New User? Sign Up
                </button>
            </div>
            
            
        </div>

        <div class="padding">
	
           <p ng-show="myForm.email.$error.required">* Email is required</p>
            <p ng-show="myForm.email.$invalid && !myForm.username.$pristine">* Email must be an email address</p>
            <p ng-show="myForm.email.$error.minlength">* Email must be longer than 5 characters</p>
            <p ng-show="myForm.password.$error.required">* Password is required</p>
           
        </div>
        
    </form>
      
     
   
            
        

              
              
  </ion-content>

    
  
</ion-view>