<ion-view view-title="InfoReader">
    <div class="bar bar-subheader bar-light">
  <h1 class="title">Health Reporting - Maleria Data Collection</h1>
</div>
  
  <ion-content class="has-subheader" >
  
  <div class="list">
   <label class="item item-input">
    <span class="input-label">Hospital Name</span>
    <input type="text">
  </label>
   <label class="item item-input">
    <span class="input-label">Month</span>
    <input type="text">
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      PinCode
    </div>
    <select>
      <option>411041</option>
      <option selected>411042</option>
      <option>411043</option>
    </select>
  </label>
     <label class="item item-input">
    <span class="input-label">Number of Patients</span>
    <input type="text">
  </label>

    <div class="row">
		<button class="button button-block button-positive">
  submit
</button>
	

	<!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
	
	
  </ion-content>
</ion-view>
